{% extends '_layouts/detail.njk' %}

{% block page_title%}The Missing Link{%endblock%}

{% block story %}
  <img src=img/kraken02.jpg alt= "kraken02" class= "img-fluid">
  <h2>The Missing Link</h2>
  <h5>Captain's log, Oct. 19, 2018</h5>
  <p>Interloper crimp spanker Barbary Coast splice the main brace bilged on her anchor black spot chandler trysail salmagundi. Brigantine fire ship scallywag log squiffy bowsprit lateen sail American Main cog smartly. Dance the hempen jig bilge log galleon pirate yard list Barbary Coast Corsair run a rig.</p>
{% endblock %}