{% extends '_layouts/base.njk' %}

{% block page_title %}Capt. McGillicuty's Blog{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
    <h1>Captain's Quarters</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <p>
        Welcome to the Captain's log for Captain Crit McGillicuty. Here be the logs for the ships over years past. Take a look into the notes over ships that have lived, are injured or who have met their grave fate against the dreaded beast: The Kraken. 
      </p>
        {% for entry in data.entries %}
          <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
          <p class="entry-date">{{ entry.date }}</p>
          <hr>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
